* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', 'Open Sans', sans-serif;
  font-weight: 400;
}

li {
  list-style-type: none;
  margin: 10px 0;
}

a {
  color: white;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.button-style-gen {
  background-color: #cc1a26;
  color: white;
  border-radius: 50px;
  border: 0;
  width: 200px;
  padding: 10px;
  font-weight: bold;
  margin: 10px 0;
}

.button-style-gen:hover {
  cursor: pointer;
  background-color: #bf1e23;
}

/* container populars */
.container-populars {
  min-height: 600px;
  position: relative;
}

.container-jumbo {
  background-image: url("../img/jumbo.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 500px;
}

.centratura {
  width: 60%;
  margin: 30px auto;
}

.container-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
}

#style-header {
  width: 60%;
  margin-top: 30px;
  margin-left: 20%;
}
.style-buttons-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.drop {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  color: white;
}

.dropdown {
  position: absolute;
  top: 20px;
  left: 0;
  min-width: 120px;
  min-height: 50px;
  border: 2px solid yellow;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

.hidedrop {
  display: none;
}

.showdrop {
  display: block;
}

#display-span {
  display: block;
}

.style-plus-button {
  color: white;
  margin-bottom: 30px;
  border-radius: 50%;
  padding: 15px;
  border: 0;
  background-color: #bf1e23;
}

#demos-button {
  margin-bottom: 5px;
}

.button-column {
  width: 100%;
  height: 50px;
  color: #555454;
  font-weight: bold;
  border-radius: 5px;
  border: 0;
}

#dollar-sale {
  color: green;
  font-weight: bold;
  font-size: 20px;
}

#flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-header {
  width: 20%;
}

#item-header-mid {
  width: 60%;
}
.flex-menu {
  display: flex;
  justify-content: space-between;
}

.style-text-jumbo {
  color: white;
}

.style-title-jumbo {
  font-size: 50px;
}


.position-populars {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate( -50%);
  background-color: white;
  padding: 10px 0;
}

#position-button-order {
  text-align: center;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
}

.title-text {
  text-align: center;
  padding: 40px 0;
}

.flex-cards {
  display: flex;
  justify-content: space-between;
}

.card-single {
  text-align: center;
  position: relative;
}

.card-single:hover .add-cart {
  display: block;
}

.card-single:hover .overlay-img-pop {
  filter: brightness(50%);
}

.add-cart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: none;
}

.button-cart {
  border-radius: 50%;
  padding: 5px;
  background-color: black;
  border: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.fa-check-square {
  font-size: 20px;
  color: white;
}

.style-span-populars {
  color: #cc1a26;
}

.background-ham {
  background-image: url("../img/backburg.jpg");
  min-height: 400px;
  background-position: center;
  background-size: cover;
}

.categories {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.cards-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.single-card-menu {
  width: 24%;
  margin-bottom: 5px;
  position: relative;
}
.img-menu > img{
  width: 100%;
  height: 100%;
}

.title-menu {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: white;
  font-weight: bold;
  text-align: center;
  line-height:  150px;
}

.specials-properties {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0;
}

.special-item {
  width: 25%;
  text-align: center;
}

.special-item > img {
  width: 20%;
  height: 40px;
}

#download-app {
  background-image: url("../img/app-ordering.jpg");
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-download {
  padding: 50px 0;
}

.text-download > h3 {
  color: white;
}
.text-download > h1 {
  color: yellow;
  font-size: 40px;
  font-weight: bold;
}

.apps-img {
  margin-top: 30px;
}
.button-app > img {
  width: 15%;
}

/* .container-news {
  margin: 40px 0;
} */
.news {
  display: flex;
  justify-content: space-between;
}

.item-news {
  width: 48%;
  text-align: center;
}

.overlayimg:hover {
  filter: brightness(50%);
}


.item-news > img {
  max-width: 100%;
}

.footer-display {
  min-height: 800px;
  padding: 30px 0;
}

.footer-list {
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  color: white;
}

.item-footer-list {
  color: white;
}

.item-footer-list {
  width: 20%;
}

.apple > a {
  display: block;
}

div.apple > a:first-child {
  margin-top: 20px;
  margin-bottom: 5px;
}

.apple > a > img {
  width: 50%;
  border: 2px solid white;
  border-radius: 5px;
}

.voucher-style {
  text-align: center;
}
.voucher-style > img {
  width: 50%;
}

.yellow {
  color: yellow;
}


/* sfondo footer */
.background {
  background-image: url("../img/footer-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.text-intro-registration {
  margin: 30px 0;
}

.registration-email {
  text-align: center;
}

.style-input-button {
  width: 500px;
  height: 30px;
  border-radius: 30px;
  padding: 10px;
  border: 0;
}

.socials {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.item-socials {
  margin: 0 7px;
}

.style-social {
  color: white;
}

.button-email {
  margin: 20px 0;
}

.privacy {
  color: yellow;
  text-align: center;
}
