<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Avada Takeout</title>
  </head>
  <body>
    <!-- contenitore Vue -->
    <div id="root">
      <!-- contenitore -->
      <main id="container">
        <!-- contenitore jumbo + header -->
        <div class="container-jumbo">
          <!-- header -->
          <div class="container-header">
            <header id="style-header">
              <div id="flex-header">
                <div class="item-header">
                  <img :src="logo" alt="logo">
                </div>
                <div class="flex-menu" id="item-header-mid">
                  <a href="#" v-for="item in menu"> {{item.titlelist}}
                    <i :class="item.icon"></i>
                    <div class="">
                      <ul>
                        <li v-for="link in item.dropdown"> {{link}}</li>
                      </ul>
                    </div>

                  </a>
                </div>
              </div>
            </header>
            <!-- bottoni laterali -->
            <div >
              <div id="style-button" class="style-buttons-right">
                <button type="button" name="button" class="style-plus-button">
                   <i class="fas fa-plus"></i>
                </button>
                <button type="button" name="button" id="demos-button">
                  <i></i>
                  <span> Demos </span>
                </button>
                <button type="button" name="button">
                  <span>&#36; 39</span>
                  <span id="display-span"> On Sale</span>
                </button>
              </div>
            </div>

          </div>

          <!-- fine header -->


          <!-- intro jumbotron -->
          <div class="">
            <div class="centratura">
              <h3>Hungry?</h3>
              <h1>Great Food
                <span>Delivered</span>
              </h1>
              <button class="button-style-gen" type="button" name="button">
                 View Our Menu
                 <i class='fas fa-arrow-alt-circle-right'></i>
              </button>
            </div>
          </div>
          <!-- fine intro jumbo-->
        </div>
        <!-- fine jumbo -->

        <!-- blocco popular dishes (background) -->
        <div class="debug">
          <div class="centratura position-populars">
              <!-- header popular dishes in flex-->
              <div class="nav-menu">
                <div class="">
                  <span>24/7 Delivery</span>
                </div>
                <div class="">
                  <span>Over 100 dishes</span>
                </div>
                <div class="">
                  <span>In app ordering</span>
                </div>
                <div class="">
                  <span>Fast Delivery</span>
                </div>
              </div>
              <!-- titolo -->
              <div class="title-text">
                <h2>Our Most Popular Dishes</h2>
              </div>
              <!-- card dishes in flex -->
              <div class="flex-cards">
                <div class="card-single">
                  <img src="img/fries.jpg" alt="">
                  <h3>Skin On Fries</h3>
                  <span class="style-span-populars">&#36;3.00 - &#36;6.00</span>
                </div>
                <div class="card-single">
                  <img src="img/choco-cookie-frappe-210x300.jpg" alt="">
                  <h3>Choco Cookie Frappe</h3>
                  <span class="style-span-populars">&#36;4.99</span>
                </div>
                <div class="card-single">
                  <img src="img/donut-burger-210x300.jpg" alt="">
                  <h3>The Donut Burger</h3>
                  <span class="style-span-populars">&#36;6.99</span>
                </div>
              </div>
              <!-- button start your order -->
              <div class="">
                <button type="button" name="order"> Start your order</button>
              </div>

          </div>

        </div>
        <!-- fine background popular dishes -->

        <!-- blocco Menu Categories -->
        <div class="">
          <div class="centratura">
            <!-- menu titolo + button in flex -->
            <div class="categories">
              <h2> Menu Categories</h2>
              <button type="button" name="button"> View the full menu</button>
            </div>

            <!-- cards categorie in flex-->
            <div class="cards-menu">
              <div class="single-card-menu">
                <img src="img/appetizers.jpg" alt="appetizers">
                <div class="title-menu">
                  <span>Appetizers</span>
                </div>
              </div>
              <div class="single-card-menu">
                <img src="img/burgers.jpg" alt="burgers">
                <div class="title-menu">
                  <span>Burgers</span>
                </div>
              </div>
              <div class="single-card-menu">
                <img src="img/pizza.jpg" alt="pizza">
                <div class="title-menu">
                  <span>Pizzas</span>
                </div>
              </div>
              <div class="single-card-menu">
                <img src="img/friesmenu.jpg" alt="fries">
                <div class="title-menu">
                  <span>Fries</span>
                </div>
              </div>
              <div class="single-card-menu">
                <img src="img/sides.jpg" alt="sides">
                <div class="title-menu">
                  <span>Sides</span>
                </div>
              </div>
              <div class="single-card-menu">
                <img src="img/desserts.jpg" alt="desserts">
                <div class="title-menu">
                  <span>Desserts</span>
                </div>
              </div>
              <div class="single-card-menu">
                <img src="img/beverages.jpg" alt="beverages">
                <div class="title-menu">
                  <span>Beverages</span>
                </div>
              </div>
              <div class="single-card-menu">
                <img src="img/specials.jpg" alt="specials">
                <div class="title-menu">
                  <span>Specials</span>
                </div>
              </div>

            </div>

            <!-- caratteristiche speciali in flex -->
            <div class="specials-properties">
              <div class="special-item">
                <img src="img/vegetarian.png" alt="veg">
                <h5>Vegetarian</h5>
              </div>
              <div class="special-item">
                <img src="img/gluten.png" alt="glutenfree">
                <h5>Gluten Free</h5>
              </div>
              <div class="special-item">
                <img src="img/dairy.png" alt="dairy">
                <h5>Dairy Free</h5>
              </div>
              <div class="special-item">
                <img src="img/keto.png" alt="keto">
                <h5>Keto Friendly</h5>
              </div>
            </div>

          </div>

        </div>
        <!-- fine blocco menu categories -->

        <!-- Download store -->
        <div class="">
          <div class="centratura">

          </div>

        </div>
        <!-- fine download -->

        <!-- blocco News -->
        <div class="">
          <div class="centratura">
            <!-- titolo + button (come blocco categorie menu) -->
            <div class="">

            </div>

            <!-- new in flex -->
            <div class="">

            </div>

          </div>
          <!-- fine blocco news -->

          </div>

      </main>
      <!-- fine contenitore centrato -->


      <!-- footer -->
      <footer :class="footerBackground" class="debug">
        <!-- liste footer in flex -->
        <div class="footer-list">
          <div v-for="titolo in footerLists">
            <h3>{{titolo.title}}</h3>
            <ul>
              <li v-for="link in titolo.listLinks"> <a href="#"> {{link.name}}</a> <span>{{link.time}}</span> </li>
            </ul>
          </div>
        </div>


        <!-- mid footer -->
        <div class="">

        </div>

        <!-- copyright + icone -->
        <div class="">

        </div>

      </footer>

    </div>
    <!-- fine contenitore vue -->





    <!-- javascript -->
    <script type="text/javascript" src="js/script.js">
    </script>
  </body>
</html>
